* {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.login {
    height: 110%;
    width: 100%;
    /* background-image: url(asserts/backfood.jpg);  */
    background-color: white;
    background-position: center;
    background-size: cover;
    /* position: absolute; */

}

.form {
    height: 490px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background-color: rgb(245, 232, 232);
    padding: 5px;
    border-radius: 12px;
    outline: aqua;

}

.headtag {
    text-align: center;
}

.button-box {
    width: 220px;
    position: relative;
    margin: 35px 5px 35px 15px;
    /* box-shadow: 0 0 20px 9px #9a2f051f; */

    border-radius: 30px;
}

.toggle-btn {
    padding: 5px 30px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;

}

#btn {
    top: 22px;
    left: 0;
    position: absolute;
    width: 90px;
    height: 10%;
    /* background-image: linear-gradient(to right,#f36278, rgb(194, 34, 162));   */
    background-color: black;
    border-radius: 30px;
    transition: .5s;
    text-decoration: overline;
    color: white;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 220px;
    transition: .5s;

}

.input-field {
    width: 220px;
    padding: 10px 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #999;

    border-right: 0;
    outline: none;
    background: transparent;
    margin: 5px 30px 5px 45px;
}

#submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px 20px 5px 45px;
    background-image: linear-gradient(to right, #e8e1e3, rgb(51, 49, 50));
    border: 0;
    outline: none;
    border-radius: 30px;
    /* background-color: black; */
    color: white;
}

.check-box {

    margin: 20px 60px 5px 20px;

}

.check-box1 {

    margin: 20px 10px 5px 50px;

}

.login-span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    left: 0;
    right: 29px;
    top: 70%;

    position: absolute;
}

.register-span {
    color: #777;
    font-size: 12px;
    bottom: 78px;
    left: 60px;
    right: 0;
    top: 74%;

    position: absolute;
}

#login {
    left: 100px;
    top: 60px;
}

#register {
    left: 60px;
    top: 60px;
}

button.active {
    background-color: aqua;
}

#btn2 {
    top: 22px;
    left: 110px;
    position: absolute;
    width: 90px;
    height: 10%;
    /* background-image: linear-gradient(to right,#f36278, rgb(194, 34, 162));   */
    background-color: black;
    border-radius: 30px;
    transition: .5s;
}