table, th, td {
    border:1px solid black;
  }
  h1{
      text-align: center;
      color: blueviolet;
  }
  h3{
      text-align: center;
      color: black
  }
  .center{
      margin-left: auto;
      margin-right: auto;
  }