
.welcome{
    color:rgb(227, 75, 118);
    text-align: center;
    margin: 220px 50px 20px 50px;
    font-size: 50%;
    }
.index{
    height: 100%;
    width: 100%;
    background-image: url(asserts/file.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    outline: none;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color:white;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(240, 125, 177);
    color: black;
  }
  .fcf-h3{
    text-align: left;
  }
  .fcf-body {
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    max-width: 100%;
}
.fcf-form-group {
    margin-bottom: 1rem;
}
.fcf-form-id{
    top:180px;
    position:absolute;
    width: 220px;
    transition: .5s;
}
.fcf-form-control{
    width:200px;
    padding: 10px 0;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}